h1, h2, h3, h4, h5, h6, td, th, li, a {
    color : rgb(255, 255, 255);
}
html, body {
    width: 100%;
    height : 100%;
    position: relative;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: visible;
    background: linear-gradient(to right bottom, #9c27b0, #2a9baf);
}
p, ul, ol, li {
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
table, td, th {
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    
}
style {
    table {
        border-right : 0px;
        overflow : auto;
    }
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;    
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}
.header {
    text-align: center;
}
.box-img{
    border-radius: 50%;
    width: 400px;
    height: 600px;
    padding-top: 5%;
}
.box-profile-summary{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-profile-summary h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box-profile-summary h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box-profile-summary p{
    text-align: center;
}
.box-profile-summary ul{
    margin: 0;
    padding: 0;
}
.box-profile-summary li{
    display: inline-block;
    margin: 12px;
    list-style: none;
}
.box-profile-summary li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box-profile-summary li a:hover{
    color: #b9b9b9;
}
.aboutme {
    text-align: center;
}
.box-classes{
    width: 90%;
    background: rgba(0, 0, 0, 0.4);
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-classes h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box-classes h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box-classes p{
    text-align: center;
}
.box-classes ul{
    margin: 0;
    padding: 0;
}
.box-classes li{
    display: inline-block;
    margin: 12px;
    list-style: none;
}
.box-classes li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box-classes li a:hover{
    color: #b9b9b9;
}
.media-scroller {
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 23%;

    padding: 0 var(--spacer) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}
.snaps-inline > * {
    scroll-snap-align: start;
}
.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--spacer);
    border-radius: var(--spacer);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.media-element > img {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.img {
    max-width: 100%;
    height: auto;
    display: block;
}